html, body {
    height: 100%;
    width: 100%;
  }
  body {
    background-color: #0A174E;
    background-repeat: no-repeat, repeat;
    color: #F5D042;
    background-blend-mode:difference;
  }
  .center
  {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
  }
  .container{
    font-size: 45px;
  }
  .content{
    font-size: 25px;
    color:white;
  }